# DATABASE_URL="postgresql://postgres:password@localhost:5432/eservices?schema=public"


# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""

SUPABASE_PASS=

PORT=8000
HOST=localhost

JWT_SECRET=EYGVD0Gx1WP90EugLPEsMVCqf/YYDx5
JWT_EXPIRES_IN=1h

NODE_ENV=DEVELOPMENT

# SMTP Credentials
EMAIL_USER=
EMAIL_PASSWORD=

# SMS API
BITMORO_API_KEY=0hikhkhkj

# khalti keys
KHALTI_SECRET_KEY=live
KHALTI_PUBLIC_KEY=test_publi
FRONTEND_URL="http://localhost:3000"

# push notification
ONE_SIGNAL_APP_ID=6
ONE_SIGNAL_API_KEY=ojkjdkjfh

# Google Project Setting
GOOGLE_CALENDAR_API_KEY= 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=